* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --header_color: rgb(22, 171, 251);
}
body {
    font-family: sans-serif;
}
h3 {
    color: white;
    text-transform: uppercase;
}
.select_box {
    background-color: var(--header_color);
    text-align: center;
    padding: 0.5em;
}
.title {
    color: var(--header_color);
}
.container {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 2em;
}
.box {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5em 0;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: center;
}
.box > i {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
i.animals_color {
    color: orange;
}
i.users_color {
    color: blue;
}
i.veg_color {
    color: green;
}
i > span {
    color: black;
    font-size: 10px;
}
.hidden {
    display: none;
}
.show {
    display: flex;
}